@media screen and (max-width:800px){
    :root{
        font-size: 50%;
    }
}

@media screen and (max-width:530px){
    :root{
        font-size: 1.7vw;
    }
}

@media screen and (max-width:400px){
    :root{
        font-size: 45%;
    }
}